body {
    background-color: #eaeaea;
}

.ort {
    width: 1440px;
    height: auto;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.jc {
    display: flex;
    justify-content: space-around;
}

header {
    display: flex;
    justify-content: space-around;
}

.ful {
    color: rgb(67, 214, 18);
    margin-top: 15px;
}

.ful1 {
    margin-top: -33px;
}

.fil {
    margin-top: 25px;
}

.a{
    font-size: x-large;
    color: black;
    margin: 25px;
    text-decoration: none;
}

.icon {
    height: 50px;
    width: 80px;
    margin-top: 15px;
    text-align: center;
    color: rgb(67, 214, 18);
}

.telefon {
    display: flex;
    margin-top: 20px;
}
h1 {
    color: rgb(67, 214, 18);
}

.s-1 {
    border-bottom: 17px double rgb(67, 214, 18);
    color: rgb(67, 214, 18);
}

h2 {
    font-size: 60px;
    margin-top: -20px;
}
h3 {

    margin-top: 20px;
    font-size: 24px;
    color: grey;
    font-weight: 400;
    line-height: 35px;
}
button {
    background-color: rgb(67, 214, 18);
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
    position: relative;
    top: 50px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
img{
    margin-left: 800px;
    margin-top: -400px;
}
.di {
    margin-top: 50px;
}

p {
    font-size: 24px;

}

.div2 {
    margin-left: 500px;
}

.s-2 {
    color: rgb(67, 214, 18);
}
span{
    color: rgb(67, 214, 18);
}
.cont5{
    margin-left: 400px;
    margin-top:60px;
    line-height: 30px;
}
h4{
    font-size: 28px;
}
.nav{
    margin-top: 420px;
    width: 1440x;
    margin-left: -800px;
    
}
.p2{
    margin-left: 800px;
    margin-top: -300px;
    font-size: 30px;
    line-height: 55px;
    
}
.img3{
    margin-left: -30px;
    margin-top: -990px;
}
.lii{
    margin-right: -99px;
    margin-top: 500px;
}
.btn{
    background-color: rgb(67, 214, 18);
    padding: 15px 35px;
    border-radius: 5px;
    border: none;
    position: relative;
    top: -30px;
    text-decoration: none;
    color: #fff;
    width: 200px;
    left: 1200px;
}
a{
    font-size: 20px;
}
.opo {
    width: 720px;
    height: 500px;
    background: #fff;
    margin-top: 250px;
    margin-left: 60px;
    border: #fff;
    border-radius: 5px;
}
.op {
    width: 685px;
    height: 500px;
    background: #fff;
    margin-top: 150px;
    margin-left: 55px;
    border-radius: 5px;
}

.h20 {
    color: black;
    font-size:30px;
    margin-left: 90px;
    margin-top: 0px;
    font-weight: bolder;
}

.h10 {
    margin-left: 100px;
    margin-top: -10px;
}

.h8 {
    margin-left: 20px;
    margin-top: 60px;
    line-height: 25px;
}
.h9 {
    margin-left: 100px;
    margin-top: -65px;
}
.pas {
    position: relative;
    height: 81px;
    width: 81px;
    left: -800px;
    top: 80px;
    border-radius: 0px;


}
#diy {
    font-size: x-large;
    margin-top: -50px;
    color: rgb(67, 214, 18);
}

.h8 {
    margin-left: 20px;
    margin-top: 0px;
    line-height: 25px;
}
.img0{
    width: 680px;
    height: 680px;
    margin-top: 100px;
    margin-left: 30px;
}
.j8{
    margin-top: 200px;
    margin-left: 90px;
}
.p9{
    font-size: 30px;
    color: #193C3F;
}
.h12{
    color: rgb(67, 214, 18);
    text-align: center;
}
.h22{
    font-size: 60px;
    text-align: center; 
}
.lh{
    width: 150px;
    height: 150px;
    background: lightseagreen;
    border-radius: 100%;
    margin-left: 150px;
}
.yi{
    margin-top: 45px;
    margin-left: 35px;
}
.in {

    width: 363px;
    height: 50px;
    border-radius: 3px;
    margin-top: 50px;
    margin-left: 50px;
}

.in2 {
    height: 50px;
    width: 221px;
    margin-left: 80px;
    margin-top: 50px;
    border-radius: 4px;

}

select {
    height: 54px;
    width: 267px;
    margin-left: 80px;
    margin-top: 50px;
    border-radius: 4px;

}

.in3 {
    height: 54px;
    width: 217px;
    margin-left: 40px;
    margin-top: 50px;
    font-size: 18px;
    border-radius: 4px;
    background-color: #09A964;
    color: #fff;
}

.fm {
    height: 171px;
    width: 1300px;
    margin-left: 100px;
    
    border-radius: 12px;
    background-color: #fff;

}
.il{
    margin-left: 75px;
}
.io{
    color: #55645E;
 font-size: 25px;
}
.main8{
    margin-top: 100px;
}
.io{
    margin-left: 900px;
    margin-top: -200px;
}
.fl {
    display: flex;
    margin: auto;
    margin-left: 20px;
}
.oo {
    width: 350px;
    height: 200px;
    background-color: #fff;
    margin: 50px;
    border-radius: 10px;
    font-size: large;
    margin-top: 0px;
}
.omgg{
    margin-left:0px;
    margin-top: 10px;
    width: 0px;
}
.dg{
    font-size: 20px;
}
.zx{
    margin-top: -10px;
    margin-left: 0px;
    width: 600px;
    
}
.CB{
    margin-left: 300px;
}
footer{
    width: 1500px;
    height: 900px;
    background-color: #1D4245;
    ;
}
.dum4{
    color: #fff;
    text-align: center;
}
.par {
    color: #fff;
    font-size: 18px;
    margin-top: -0px;
    text-align: center;
}

.sll {
    color: #fff;
    text-align: center;
    font-size: 18px;
    
}


.las {
    height: 299px;
    width: 462px;
    left: 120px;
    top: 251px;
    border-radius: 12px;
    padding: 24px;

}
.poi{
    color: #fff;

}
.mf{
    margin-top: 90px;
    margin-left: 100px;
}
.jg{
   margin-left: 600px;
   margin-top:-450px ;
   line-height: 40px;
   color: #fff;
}
.jg2{
    margin-left: 950px;
    margin-top:-420px ;
    line-height: 40px;
    color: #fff;
}